# Smoke test to see if unpinned installations are working
name: Periodic test

on:
  schedule:
    - cron: "15 14 16 * *"  # monthly but random-ish time
  workflow_dispatch:


jobs:
  Test:
    name: Test ${{ matrix.os }} (${{ matrix.python }} ${{ matrix.source }})
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - macos-latest
        python:
          - '3.10'
          - 'pypy-3.8'
        source:
          - 'trio-parallel'
          - '-e .'
    steps:
      - name: Checkout
        if: matrix.source == '-e .'
        uses: actions/checkout@v3.0.2
      - name: Setup python
        uses: actions/setup-python@v4.2.0
        with:
          python-version: ${{ matrix.python }}
      - name: Run tests
        run: |
          python -m pip install ${{ matrix.source }}[test]
          cd ..  # Disguise normal pytest config file
          python -m pytest --pyargs trio_parallel